.root {
  --gunmetal: #282c33ff;
  --chamoisee: #b0825aff;
  --bole: #7a4c4aff;
  --moss-green: #8a9e53ff;
  --steel-blue: #4e86bcff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  width: 95vw;
}

.container form {
  max-width: 90%;
  margin: 0 auto;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
  align-items: center;
  margin-top: 10px;
  width: 80%;
  max-width: 600px;
  border: 3px solid rgba(10, 202, 166, 0.9);
  border-radius: 6px;
  padding: 20px;
  text-align: center;
}

.form p {
  align-items: center;
  text-align: center;
  font-family: monospace;
  font-size: 1.3em;

}


.form label {
  margin-top: 10px;
  margin-bottom: 30px;
  align-items: center;

}

.form input {
  padding: 10px;
  border: 3px solid rgba(10, 202, 166, 0.9);
  border-radius: 6px;
  margin-top: 10px;

  margin-bottom: 10px;
  width: 100%;
}

.form button {
  padding: 10px;
  background-color: #282c33ff;
  color: #fff;
  border: 3px solid rgba(10, 202, 166, 0.9);
  border-radius: 6px;
  cursor: pointer;
  color:#4e86bcff;
}

.conversation {
  margin-top: 20px;
}

.conversation h2 {
  margin-top: 20px;
  text-align: center;
}

.message {
  padding: 10px;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  margin: 10px;
  word-wrap: break-word;
  width: auto;
  background-color: var(--gunmetal);
  color: var(--chamoisee);
  border: 3px solid rgba(10, 202, 166, 0.9);
  
}
.message-title p strong {
  font-weight: bold;
  color: red;
  font-size: 1.1em;
}

.message p {
  margin: 0;
  font-family: var(--font-mono);
  font-size: 1.2em;
}

.message p strong {
  font-weight: bold;
  color: #fff;
  font-size: 1.5em;
}

.message hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.spacer {
  height: 20px;
  margin-top: 10px;
}

.message * {
  box-sizing: border-box;
  padding: 0;
  margin:  0;
}

.submitButton {
  background-color: rgba(10, 202, 166, 0.9);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: rgba(10, 202, 166, 0.9);
  color:var(--gunmetal);
}

.inputText {
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 1.3em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: auto;
}

.inputText:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(10, 202, 166, 0.5);
  background-color: rgba(10, 202, 166, 0.9);
}